*{
    border:1px solid black;
}

html,body,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns:1fr 5fr ;
    grid-template-rows: 1fr 5fr ;
    grid-template-areas:
        "side header "
        "side main"
    ;
}

header{
    grid-area: header;
}

aside{
    grid-area: side;
}

main{
    grid-area: main;

    display:grid;
    gap:30px;
    padding:30px;
    grid-template-columns:3fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
        "projects  announce"
        "projects  trending"
        "projects  trending"
    ;
}

.projects-contain{
    grid-area: projects; 
    
    display:grid;
    gap:15px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20px 2fr;
    align-items:start;
}

h4{
    grid-area:1/1/span 1/span 2;
}

.projects{
    grid-area:2/1/span 2/span 2;

    display:grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.projects div{
    height:200px;
}

.announcements{
    grid-area: announce;
    position:relative
}

.trending{
    grid-area: trending;
    position:relative
}