*{
    /* border:1px solid black; */
}

html,body,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns:1fr 5fr ;
    grid-template-rows: 1fr 5fr ;
    grid-template-areas:
        "side header "
        "side main"
    ;
}

header{
    grid-area: header;

    position: relative;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.search ,.info-upload{
    width:90%;
    margin:0 auto;
}

.search{
    /* padding:20px; */
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 20px;
    align-items: center;
}


.search input {
    width:80%;
    padding:8px 10px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    background-color: rgb(229, 236, 238);
}

.search .notification{
    justify-self: center;
}

.info-upload{
    padding:20px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    
}

.header-buttons{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: minmax(110px, 150px) minmax(110px, 150px) minmax(110px, 150px);
    column-gap:15px ;
}

.header-buttons button{
    padding:.5rem 0rem;
    border-radius: 15px;
    border: none;
    color:white;
    background:rgb(92, 194, 228);
    margin:0 10px;
    
}

aside{
    grid-area: side;
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    
    background:rgb(90, 180, 253);
    color:white;
    
}

aside .aside-title{
    font-size: 1.5rem;
    display:grid;
    grid-template-columns:4.5rem 90px;
    grid-template-rows: 1fr;
    align-self: center;

}

.aside-title a{
    align-self: center;
}

aside h3{
    align-self: center;
    justify-self: center;
}

aside ol{
    padding:0;
    list-style-type:none;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,5%);
    padding-left: 3%;
    
}

aside ol li{
    display:grid;
    grid-template-columns:3rem 30px;
    grid-template-rows: 1fr;
    align-self: center;
    
}

aside a{
    text-decoration: none;
    color:white;
    align-self: center;
}

main{
    grid-area: main;

    display:grid;
    gap:30px;
    padding:30px;
    grid-template-columns:3fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:
        "projects  rightContain"
        "projects  rightContain"
        "projects     rightContain"
    ;
    
    background:rgb(209, 226, 236);
}

.projects-contain{
    grid-area: projects; 
    
    display:grid;
    gap:10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20px 2fr;
    align-items:start;
}

h4{
    grid-area:1/1/span 1/span 2;
}

.projects{
    grid-area:2/1/span 2/span 2;

    display:grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

    
}

.projects div{
    height:200px;
    padding:15px;
    
    background:white;
    border-radius: 8px;
    border-left: 6px solid;
    border-left-color: orange;
}


.right-contain{
    grid-area: rightContain;
    display:grid;
    row-gap: 40px;
    grid-template-rows: 1fr 1fr;
}

.announcement-contain{
    /* grid-area: announce; */
    display:grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;

    
    
}

.announcement-contain .announcements{
    padding:20px;
    border-radius: 8px;

    background:white;
}

.trending-contain{
    /* grid-area: trending; */
    display:grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom:8%;
}

.trending-contain .trending{
    padding:20px;
    border-radius: 8px;

    background:white;
}

/* shadows */

header, .announcements , .trending, .projects div{
    box-shadow:2px 3px 5px rgb(179, 179, 179);
}